/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
/* General setup */

.highlight {
    
    font-family: "ultraregular", serif;
    background-color: maroon;
    width:12.5prem;
    height:6.25rem;
    box-shadow:0.625rem 0.625rem 0.625rem grey;
    border-radius: 1.875rem 0.625rem;
    border-color: black;
    color: beige;  
}

html {
    font-size:16px;   
}

body {
    margin: 1.5rem auto;
    width:90%;
    min-width:56.25rem;
}

/* Layout */

main {
    overflow:auto;
    min-width:45rem;
    
}

section, .main-section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

.sub-section{
    
}

figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}

nav {
    border-top: 0.125rem solid gray;
    border-bottom: 0.125rem solid gray;
    word-spacing: 8rem;
    text-align: center;
    color: black;
    width: 100%;
    text-decoration: none;
}

footer {
    clear: both;
    margin-top:1.5rem;
}

section, aside, nav, footer {
  padding: .5rem;
}

span{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
/* header and footer */

header{
  
    letter-spacing: .125rem;
    font-size: 1.5rem;
    margin: 1rem;
    text-align: center;
    transform: rotate(-5deg);
    padding: 1rem;
}

/* Imported Typfaces */
/* Charcoal */
@font-face {
    font-family: ultraregular;
    src: url(../fonts/serif/ultra-regular.tff)
    format('truetype');
    font-weight:normal;
    font-style:normal;
}
/* Tofu Unicorns */
@font-face {
    font-family: latoregular;
    src: url(../fonts/sans-serif/lato-regular.tff)
    format('truetype');
    font-weight:normal;
    font-style:normal;
}
/* nav bar text, headers, title */
@font-face {
    font-family: montserratregular;
    src: url(../fonts/sans-serif/montserrat-regular.tff)
    format('truetype');
    font-weight:normal;
    font-style:normal;
}

/* Navigation Menu */
nav {
    padding-top: 2rem;
    margin-top: .25rem;
    
}


